body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #161616; 
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title-page {
    display: flex;
    align-items: center;
    background-color: #161616;
    width: 100%; 
}


.title-page img {
    max-width: 90%; 
    height: auto;
    padding-left: 20px;
}


.text-container {
    flex: 1;
    padding: 20px;
    text-align: left;
    background-color: #161616;
}


.text-container h1 {
    font-size: 3em; 
    color: white;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;    padding-bottom: 20px;
}

.text-container h3 {
    font-size: 1.4em; 
    margin-top: 10px;
    color: white; 
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e3e3e; 
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Manrope';
    letter-spacing: 1px;
}

.button:hover {
    background-color: #5e5e5e; 
}
